{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
{% comment %} SCROLL TOP {% endcomment %}
<a href="#" class="scrolltop " id="scroll-top">
    <i class='bx bx-up-arrow-alt scrolltop__icon' ></i>
</a>
{% comment %} HEADER {% endcomment %}
{% include "includes/header.html" %}

<main class="l-main">
    {% comment %} HOME {% endcomment %}
    <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
            <div class="home__img">
                <img src="{% static 'core/img/dog.png' %}" alt="">
            </div>

            <div class="home__data">
                <h1 class="home__title">It's Your Time <br> To Adopt</h1>
                <p class="home__description">This is your opportunity to be happy and have a new friend to share love.</p>
                <a href="{% url 'signup' %}" class="button">Get Started</a>
            </div>
        </div>
    </section>

    {% comment %} SHARE {% endcomment %}
    <section class="sharee section bd-container" id="share">
        <div class="share__container bd-grid">
            <div class="share__data">
                <h2 class="section-title-center">What is this?</h2>
                <p class="share__description">This is a web page, where you can adopt an animals. And you feel good with this decision.</p>
                <a href="" class="button">Get Started</a>
            </div>

            <div class="share__img">
                <img src="{% static 'core/img/cat.png' %}" alt="">
            </div>
        </div>
    </section>
</main>

{% comment %} DECORATION {% endcomment %}
<section class="decoration section bd-container" id="decoration">
    <h2 class="section-title">You Need Adopt</h2>

    <div class="decoration__container bd-grid">
        <div class="decoration__data">
            <img src="{% static 'core/img/angry.png' %}" alt="" class="decoration__img">
            <h3 class="decoration__title">Cats Are Beautiful</h3>
            <a href="#" class="button button-link">I Want to Adopt</a>
        </div>

        <div class="decoration__data">
            <img src="{% static 'core/img/luma.png' %}" alt="" class="decoration__img">
            <h3 class="decoration__title">Dogs Are Beautiful</h3>
            <a href="#" class="button button-link">I Want to Adopt</a>
        </div>
   
        <div class="decoration__data">
            <img src="{% static 'core/img/melvin.png' %}" alt="" class="decoration__img">
            <h3 class="decoration__title">If You Love Animals</h3>
            <a href="#" class="button button-link">I Want to Adopt</a>
        </div>
    </div>
</section>

<section class="accessory section bd-container" id="accessory">
    <h2 class="section-title">Your Pet Need <br> Decorations</h2>

    <div class="accessory__container bd-grid">
        <div class="accessory__content">
            <img src="{% static 'core/img/test.jpg' %}" alt="" class="accessory__img">
            <h3 class="accessory__title">Necklace</h3>
            <span class="accessory__category">Accessory</span>
            <span class="accessory__preci">$10</span>
            <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
            <img src="{% static 'core/img/test.jpg' %}" alt="" class="accessory__img">
            <h3 class="accessory__title">Necklace</h3>
            <span class="accessory__category">Accessory</span>
            <span class="accessory__preci">$10</span>
            <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
            <img src="{% static 'core/img/test.jpg' %}" alt="" class="accessory__img">
            <h3 class="accessory__title">Necklace</h3>
            <span class="accessory__category">Accessory</span>
            <span class="accessory__preci">$10</span>
            <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
            <img src="{% static 'core/img/test.jpg' %}" alt="" class="accessory__img">
            <h3 class="accessory__title">Necklace</h3>
            <span class="accessory__category">Accessory</span>
            <span class="accessory__preci">$10</span>
            <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>
    </div>

</section>

{% comment %} SEND GIFT {% endcomment %}


{% comment %} FOOTER {% endcomment %}
{% include "includes/footer.html" %}

{% comment %} SCROLL REVEAL {% endcomment %}
<script src="https://unpkg.com/scrollreveal"></script>

{% endblock content %}