{% load static %} <!--Load static files-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}">
        {% comment %} CSS {% endcomment %}
        <link type='text/css' rel="stylesheet" href="{% static "registration/css/style.css" %}"> <!--es necesario poner static para trabajar con los archivos estaticos de dicho directorio-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">  
        {% comment %} icons {% endcomment %}
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {% comment %} BOX ICONS {% endcomment %}


    </head>
    <body>
        {% comment %} HEADER {% endcomment %}
       
        <header class="l-header" id="header" >
            <div class="icon-back">
                <a href="{% url 'home' %}" class="back"><i class='bx bx-arrow-back' style="font-size: 20px;"></i></a>
            </div>
        </header>
  

        {% block content %}{% endblock content %}
        <script src="{% static 'registration/js/login.js' %}"></script>
    </body>
</html>